<div class="row">
  <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
    <div class="card auth">
      <div class="card-body auth-card">
        <div class="auth-avatar">
          <img src="https://pluspng.com/img-png/user-png-icon-account-avatar-human-male-man-men-people-person-download-svg-download-png-edit-icon-512.png" alt="user" class="user-image">
        </div>
        <form>
          <div class="mb-3">
            <label for="name">Name : </label>
            <input type="text" name="name" class="form-control" placeholder="Name" required>
          </div>

          <div class="mb-3">
            <label for="phone">Phone : </label>
            <input type="text" name="phone" class="form-control" placeholder="Phone" required>
          </div>

          <div class="mb-3">
            <label for="email">Email : </label>
            <input type="email" name="email" class="form-control" placeholder="Email" required>
          </div>
         
          <div class="mb-3">
            <label for="password">Password : </label>
            <input type="password" name="password" class="form-control" placeholder="********" required>
          </div>
          
          <div class="mb-3">
            <label for="c_password">Confirm Password : </label>
            <input type="password" name="c_password" class="form-control" placeholder="********" required>
          </div>

          <input type="submit" class="btn btn-primary" value="Sign Up">
          
          <div class="text-center mt-3">
            Already have an account? <a routerLink="/user/login">Sign In</a> here.
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

