<body>
    <div class="container">
      <!-- App Header -->
      <header class="app-header">
        <h1 class="heading">Hello, there</h1>
        <h4 class="sub-heading">How can I help you today?</h4>
      </header>

      <!-- Chats -->
      <div class="chats-container"></div>
      <!-- Prompt Input -->
      <div class="prompt-container">
        <div class="prompt-wrapper">
          <form action="#" class="prompt-form">
            <input type="text" placeholder="Ask me" class="prompt-input" required />
            <div class="prompt-actions">
              <!-- File Upload Wrapper -->
              <div class="file-upload-wrapper">
                <button id="add-file-btn" type="button" class="material-symbols-rounded">send</button>
              </div>
            </div>
          </form>
          <!-- Theme and Delete Chats Buttons -->
          
          <button id="delete-chats-btn"></button>
        </div>
      </div>
    </div>
</body>