<header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              AEK-BOOT
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" routerLink="/user/home">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/user/home" fragment="about_section" *ngIf="ap.userLoggedIn() == false"> About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/user/home" fragment="service_section" *ngIf="ap.userLoggedIn() == false">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/user/home" fragment="why_section" *ngIf="ap.userLoggedIn() == false">Why Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/user/home" fragment="team_section" *ngIf="ap.userLoggedIn() == false">Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/user/login"  *ngIf="ap.userLoggedIn() == false"> <i class="fa fa-user" aria-hidden="true"></i> Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/user/signup"  *ngIf="ap.userLoggedIn() == false"> <i class="fa fa-user" aria-hidden="true"></i> signUp</a>
              </li>


              <li class="nav-item">
                <a class="nav-link" routerLink="/user/chatbot"  *ngIf="ap.userLoggedIn() == true"> Chatbot</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLink="/user/feedback"  *ngIf="ap.userLoggedIn() == true"> Add Feedback</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLink="/user/setprofil" *ngIf="ap.userLoggedIn() == true"> <i class="fa fa-user" aria-hidden="true"></i> Set Profil</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" (click)="Logout()" routerLink="/user/home" *ngIf="ap.userLoggedIn() == true"> <i class="fa fa-user" aria-hidden="true"></i> Logout</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

<router-outlet></router-outlet>
