<main class="main" id="top">
    <div class="container-fluid px-0">
  
      <div class="content">
  <br><br>
  <div class="card p-3 mb-2">
      <li class="breadcrumb-item"><span style="width:.8rem;padding-bottom:4px;"><i class="fa-solid fa-house"></i></span>
        <span style="width:.8rem;padding-bottom:4px;"></span> 
      <span style="padding-left: 4px;width:4px;padding-bottom:4px;"></span>
        <span style="padding-left: 12px;font-weight: bold;"> </span>
      </li>
      
  </div>
  
    <div class="card p-3">
  
        <div class="row justify-content-center">  
          
          <div class="band col-16 col-lg-16" >
            <div class="text-center card-box p-4 border border-cake">
                <div class="member-card pt-2 pb-2 col-16" >
  
                  <h5 class="text-primary"> <span data-feather="archive"></span> Informations</h5>
                
                <br>
                <hr />
  
  
                    <div class="mt-5">
                        <h4>{{user.nom}} </h4>
                          
                        <h6 class="mt-4">{{user.email}}</h6>
                    </div>
                   
                   
                </div>
            </div>
        </div>
      
        <!-- end col -->
  
        <div class="col-16 col-lg-16" >
          <div class="card p-4 ml-4" style="width: 500px;" >
           
              <div class="card-body">
          
                <ul class="nav nav-pills nav-pills-primary nav-justified"  >
                 
                  <li class="nav-item">
                    <a  href="javascript:void();" data-target="#info" data-toggle="pill" class="nav-link active show"> <span class="hidden-xs">Update Informations</span></a>
                </li>
               
                  <li class="nav-item">
                      <a  [routerLink]="['/user/password',ap.getDataFromToken().id]" (click)="getPassword(dataPassword.id)" data-target="#edit" data-toggle="pill" class="nav-link"><span class="hidden-xs">Update password</span></a>
                  </li>
              </ul>
  
              <br>
              <hr>
  
              <div class="tab-content p-2">
                
              <div class="tab-pane active show" id="info">
                <form #f="ngForm" (ngSubmit)="update(f)">
                    <br>
          
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label" >Name</label>
                      <div class="col-lg-9">
                          <input class="form-control" type="text"  [(ngModel)]="user.nom" required name="nom" #nom="ngModel" ngModel>
                      </div>
                  </div>
              
                  <div class="alert alert-danger" *ngIf="nom.errors?.['required'] && nom.touched">
                     name is required
                  </div>
              
  
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label" >Email</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" [(ngModel)]="user.email" required name="email" #email="ngModel" ngModel>
                    </div>
                   </div>
                   <div class="alert alert-danger" *ngIf="email.errors?.['required'] && email.touched">
                          Email is required
                    </div> 
                    <div class="alert alert-danger" *ngIf="email.errors?.['email']&& email.touched">
                      Email is incorrect
                    </div>
                    <div class="alert alert-danger" *ngIf="email.errors?.['pattern']&& email.touched">
                       Email invalid
                    </div>
  
                    <div class="alert alert-danger" *ngIf="messageErr">
                      {{messageErr}}
                  </div>
                    <div class="alert alert-success" *ngIf="messageSuccess">
                      {{messageSuccess}}
                  </div>
                  
          <br>
                    
                <hr>
  
                  
                    <div class="mt-4">
                      <button class="btn-edit" [disabled]="f.invalid">Update</button> 
                    </div>
              
                  
              </form>
          
          
            </div>
  <!--         <div class="tab-pane" id="edit">
  
            <form #f="ngForm" (ngSubmit)="changePassword(f)">
              <br>
     
              <div class="form-group row">
               <label class="col-lg-3 col-form-label form-control-label">Mot de passe actuel</label>
               <div class="col-lg-9">
                   <input class="form-control" [type]="changetype?'password':'text'" id="current-password" placeholder="Mot de passe actuel"
                   [(ngModel)]="dataPassword.currentPassword" required name="currentPassword" #currentPassword="ngModel" ngModel>
                   <span class="eyeicon" (click)="viewpass()"><i [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i>
                   </span>
               </div>
             </div>
   
                <div class="alert alert-danger" *ngIf="currentPassword.errors?.['required'] && currentPassword.touched">
                 Mot de passe is required
               </div>
               
               <div class="form-group row">
                 <label class="col-lg-3 col-form-label form-control-label">Nouveau mot de passe</label>
                 <div class="col-lg-9">
                     <input class="form-control" [type]="changertype?'password':'text'" id="new-password" placeholder="Nouveau mot de passe"
                     [(ngModel)]="dataPassword.newPassword" required name="newPassword" #newPassword="ngModel" ngModel>
                     <span class="eyeicon" (click)="viewpass2()"><i [ngClass]="visible2?'fa fa-eye':'fa fa-eye-slash'"></i>
                     </span>
                 </div>
               </div>
               <div class="alert alert-danger" *ngIf="newPassword.errors?.['required'] && newPassword.touched">
                 Nouveau mot de passe is required
               </div> 
      
   
               <div class="form-group row">
                 <label class="col-lg-3 col-form-label form-control-label">Retapez le nouveau mot de passe</label>
                 <div class="col-lg-9">
                     <input class="form-control" [type]="modiftype?'password':'text'" id="confirm-password" placeholder="Retapez le nouveau mot de passe"
                     [(ngModel)]="dataPassword.confirmPassword" required name="confirmPassword" #confirmPassword="ngModel" ngModel>
                     <span class="eyeicon" (click)="viewpass3()"><i [ngClass]="visible3?'fa fa-eye':'fa fa-eye-slash'"></i>
                     </span>
                 </div>
               </div>
       
               <div class="alert alert-danger" *ngIf="confirmPassword.errors?.['required'] && confirmPassword.touched">
                 Retapez le nouveau mot de passe is required
               </div> 
   
               <div class="alert alert-danger" *ngIf="messageErr">
                 <button type="button" (click)="handleClear()" class="close" data-dismiss="alert" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>
                 {{messageErr}}
                 
             </div>
     
             <div class="alert alert-success" *ngIf="messageSuccess">
               {{messageSuccess}}
           </div>
            
            
   
   
          
           <br>
                     
           <hr>
   
             
               <div class="mt-4">
                 <button class="btn-edit-pass" [disabled]="f.invalid"> Mettre à jour le mot de passe</button> 
               </div>
       
   </form>
  
  
  </div>
  -->   
            
              </div>
            </div>
          </div>
       
    </div>
  
    </div>
  
  
  </div>
  </div>
  
  
  </div>
  </main>